WalletServiceUnitTests/Service References/WalletService/WalletService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2181/WalletService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WalletService" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="RegisterResult" nillable="true" type="q2:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalletBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="request" nillable="true" type="q3:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWalletBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="GetWalletBalanceResult" nillable="true" type="q4:GetWalletBalanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="request" nillable="true" type="q5:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="WithdrawResult" nillable="true" type="q6:WithdrawResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="request" nillable="true" type="q7:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="DepositResult" nillable="true" type="q8:DepositResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterAccountState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="request" nillable="true" type="q9:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterAccountStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WalletService" minOccurs="0" name="AlterAccountStateResult" nillable="true" type="q10:AlterAccountStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>