WalletServiceUnitTests/Service References/WalletService/WalletService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WalletService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2181/WalletService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2181/WalletService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2181/WalletService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WalletService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWalletService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IWalletService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IWalletService_GetWalletBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWalletBalance" />
  </wsdl:message>
  <wsdl:message name="IWalletService_GetWalletBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWalletBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWalletService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IWalletService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IWalletService_Deposit_InputMessage">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="IWalletService_Deposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="IWalletService_AlterAccountState_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterAccountState" />
  </wsdl:message>
  <wsdl:message name="IWalletService_AlterAccountState_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterAccountStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IWalletService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IWalletService/Register" message="tns:IWalletService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWalletService/RegisterResponse" message="tns:IWalletService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWalletBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWalletService/GetWalletBalance" message="tns:IWalletService_GetWalletBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWalletService/GetWalletBalanceResponse" message="tns:IWalletService_GetWalletBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IWalletService/Withdraw" message="tns:IWalletService_Withdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWalletService/WithdrawResponse" message="tns:IWalletService_Withdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IWalletService/Deposit" message="tns:IWalletService_Deposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWalletService/DepositResponse" message="tns:IWalletService_Deposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterAccountState">
      <wsdl:input wsaw:Action="http://tempuri.org/IWalletService/AlterAccountState" message="tns:IWalletService_AlterAccountState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWalletService/AlterAccountStateResponse" message="tns:IWalletService_AlterAccountState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWalletService" type="tns:IWalletService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IWalletService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWalletBalance">
      <soap:operation soapAction="http://tempuri.org/IWalletService/GetWalletBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IWalletService/Withdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/IWalletService/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterAccountState">
      <soap:operation soapAction="http://tempuri.org/IWalletService/AlterAccountState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WalletService">
    <wsdl:port name="BasicHttpBinding_IWalletService" binding="tns:BasicHttpBinding_IWalletService">
      <soap:address location="http://localhost:2181/WalletService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>