WalletServiceUnitTests/Service References/WalletService/WalletService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WalletService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WalletService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="NewAccountState" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="RegisterResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewAccountID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegisterResponse" nillable="true" type="tns:RegisterResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="GetWalletBalanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="WalletBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetWalletBalanceResponse" nillable="true" type="tns:GetWalletBalanceResponse" />
  <xs:complexType name="WithdrawResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetWalletBalanceResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WithdrawResponse" nillable="true" type="tns:WithdrawResponse" />
  <xs:complexType name="DepositResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetWalletBalanceResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepositResponse" nillable="true" type="tns:DepositResponse" />
  <xs:complexType name="AlterAccountStateResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlterAccountStateResponse" nillable="true" type="tns:AlterAccountStateResponse" />
</xs:schema>